services:
    kavita:
        image: jvmilazz0/kavita:latest    # Using the stable branch from the official dockerhub repo.
        container_name: kavita
        volumes:
            # - /your/path/to/manga:/manga
            - /mnt/data/smb_share/comics:/comics
            - /mnt/data/smb_share/books:/books
            - ./config:/kavita/config     # /kavita/config must not be changed
        environment:
            - TZ=America/New_York
        ports:
            - "5000:5000"
        restart: unless-stopped